doctype html
html(lang="en")
 head 
  title The Heap Space

  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js").
  script(src="/javascripts/myblog.js").
  script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js").
  link(rel="stylesheet",href="/stylesheets/bootstrap.min.css").
  link(rel="icon",href="/icon/favicon.ico").
  link(rel="stylesheet",href="/stylesheets/blogstyle.css").

 // NAVBAR
 //-----------------------------------------------------------------

 body
  div(class="navbar-wrapper")
   div(class="container")
    nav(class="navbar navbar-inverse navbar-static-top")
     div(class="container")
      div(class="navbar-header")
       button(class="navbar-toggle collapsed",data-toggle="collapse",data-target="#navbar",aria-expanded="false",aria-controls="navbar")
        span(class="sr-only") Toggle navigation
        span(class="icon-bar")
        span(class="icon-bar")
        span(class="icon-bar")
       a(class="navbar-brand",href="/theheapspace/myblog") People's Blog
      div(id="navbar",class="navbar-collapse collapse")
       ul(class="nav navbar-nav")
        li(class="active") 
         a(href="/theheapspace") Home 
        li 
         a(href="#project") Project
        li 
         a(href="/theheapspace/blog/page=1") Blog
        li(class="dropdown") 
         a(href="#",class="dropdown-toggle" data-toggle="dropdown" role="button",aria-expanded="false") About
          span(class="caret")
         ul(class="dropdown-menu",role="menu")
          li
           a(href="/theheapspace/aboutme") about Xinhe (Tina)
           a(href="#") Resume
          li(class="divider")
          li(class="dropdown-header") Friends
          li
           a(href="/theheapspace/jintan") Jintan Bai (Mark)
          li(class="divider")
          li(class="dropdown-header") Other Links
          li
           a(href="#leagueoflegend") TimeLine

       ul(class="nav navbar-nav navbar-right")
        li 
         a(href="/theheapspace/login") Login
  br
  br
  br
  div(class="container")
   div(class="row")
    //-- Blog
    div(class="col-md-8")
     h1(class="page-header",style="font-family:Optima") Flamingo Loves Science
      &nbsp;
      small Be Loved,Grateful, Dedicated, and Devoted
     - each blog, i in blogs
      div(class="blog-container",id='#{blog.blog_id}')
       h2(style="font-family:Optima") #{blog.blog_h2}
        h3(style="font-family:Optima") #{blog.blog_h3}
       if blog.blog_body != null
        div(class="blog-body")
         p #{blog.blog_body}
       if blog.attachment_type == "paper"
        div
         a(href='/files/#{blog.attachment_name}.pdf')
          p Click to Read: #{blog.attachment_name}
       else if blog.attachment_type == "code"
        div
         a(href='/code/#{blog.attachment_name}')
          p Click to Read: #{blog.attachment_name}
       div
        p Posted on #{blog.posttime}
         &nbsp;
         span(class="glyphicon glyphicon-user")
          a(href='#{blog.website}') #{blog.usr_name}
         &nbsp;
         button(class="likes",type="button",style="background-color:Transparent;border:none") 
          span(class="glyphicon glyphicon-heart") 
          div(class="numbers",style="float:right") #{blog.numberlikes}
       div
        p Tags:
         &nbsp;
         - each t, j in blog.tags
          a(href='theheapspace/blog/tags/#{t.tagname}',style="text-decoration:none")
           span(class='#{t.tagspan}') #{t.tagname}
          &nbsp;
       if blog.images != null
         div(class="display-image",id="display-image#{blog.blog_id}")
         div(class="outer-grid")
          - each image, i in blog.images
           li(class="image-li")
            div(class="image-grid")
             img(src='/images/#{image.picname}',height='100%',width='100%',class="image")
      .row
      hr
    <!-- Blog Sidebar Widgets Column -->
    div(class="col-md-4",style="padding-top:70px")
     div(class="well")
      h4 About
      div(class="blog-body",style="background-color:white")
       p This is a personal blog for keeping blogers updates about the papers they like and some memoriable activities. While you can still sign up to comment on those posts or contact Xinhe(Tina) at xinhehe8612@gmail.com for your sugguestions.
       p Thanks!
